{% extends 'base.html' %}{% load static %} {% block content %} {% if user.is_authenticated %}
<h1>Browse Ideas</h1>

<link rel="stylesheet" href="{% static 'css/browse_ideas.css' %}">

<div class="row row-cols-4 justify-content-justify" style="width: fit-content; margin: auto; padding: auto;">
  {% for post in object_list %}
  <div class="xx" style="width: 20rem;">
    <div class="card">
      {% if post.header_image %}
      <img src="{{ post.header_image.url }}" class="card-img-top" alt="..." style="max-height: 250px; max-width: 350px;">
      {% else %}
      <img src="https://dummyimage.com/350x250/000/fff.jpg" class="card-img-top" alt="...">
      {% endif %}
      <div class="card-body">
        <div class="hori">
          <h5 class="card-title">{{post.title}}</h5>
          <span><i class="fa-solid fa-heart"></i> {{ likes }}</span>
        </div>
        <p class="card-text">{{ post.snippet|slice:":200"|safe }}</p>
        <div class="stuff">
          <a href="mailto:report@cxon.net" class="text-warning">Report</a>
            <button class="btn btn-primary">View</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>




{% else %} You need to login to access this page {% endif %} {% endblock %}