{% extends 'base.html' %}


{% block content %}
{% load static %}
`
<img class="ff" src="{% static 'thesite/images/cxonlanding.png' %}" alt="" srcset="">
<img class="ffm" src="{% static 'thesite/images/cxonlandingmobile.png' %}" alt="" srcset="" style="display: none;">
<style>
    h1 {
        font-size: 9vw !important;
        font-family: "Tiempos Fine" !important;
    }

    .ff {
        z-index: -1;
        display: block;
        position: relative;
        width: 70vw;
        height: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .ffm {
        display: none;
    }

    .bstuff {
        z-index: 99;
        margin-top: -100px;
        margin-left: 10vw;
    }

    .bstuff button {
        margin-right: 10px;
    }

    .bstuff a {
        color: darkgray !important;
    }

    @media screen and (max-width: 768px) {
        .ff {
            display: none !important;
        }

        .ffm {
            display: block !important;
        }

        .stuff {
            margin-top: 0px;
            margin-left: 0vw;
        }
    }
</style>
<div class="bstuff">
    <button class="btn btn-secondary" id="start_btn">Get Started</button>
    <a href="#ideas">Scroll to browse ideas</a>
</div>
<script>
    document.getElementById("start_btn").onclick = function () {
        location.href = "{% url 'register' %}";
    };
</script>
<div id="ideas"></div>
<br>
<br>
<hr>
<br>
<link rel="stylesheet" href="{% static 'css/browse_ideas.css' %}">
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>

<div class="row row-cols-1 row-cols-md-4 g-4" data-masonry='{"percentPosition": true }' style="z-index: 1;" >
    {% for post in object_list %}<div class="col">
        <div class="card h-100">
            {% if post.header_image %}
            <img src="{{ post.header_image.url }}" class="card-img-top" alt="...">
            {% else %}
            <img src="https://dummyimage.com/350x250/000/fff.jpg" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <div class="hori">
                    <h5 class="card-title">{{post.title}}</h5>
                    <span><i class="fa-solid fa-heart"></i> {{ likes }}</span>
                </div>
                <p class="card-text">{{ post.snippet|slice:":200"|safe }}</p>
                <hr>
                <div class="stuff">
                    <a href="mailto:report@cxon.net" class="text-warning">Report</a>
                    <button class="btn btn-primary">View</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<hr>
<br>
<br>
<br>
<br>
<div class="boton">
    <span><a href="{% url 'add_post' %}">Sign Up</a> to view more ideas</span>
</div>
<style>
    .boton {
        width: 100%;
        text-align: center;
        height: 100px;
        margin-top: -100px;
        z-index: 1000;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgb(247, 247, 247));
    }
</style>
<!-- </div> -->

{% endblock %}